<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summer Hot</title>
    <headerTemplate th:include="/utils/common::headerTemplate"></headerTemplate>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        function showValue(me, value) {
            $(me).closest("tr").click();
            $.notify(value);
        }

        $(function () {
            var paramsFun = function(){
                var params = {};
                params.name = $("#name").val();
                return params;
            };
            var columns = [{
                data: "id"
            }, {
                data: "name",
                width: 80
            }, {
                data: null,
                defaultContent: ''
            }];
            var columnDefs = [{
                "visible": false,
                "targets": [1]
            }, {
                "targets": -1,
                render: function (data, type, row) {
                    return "<button class='btn btn-default btn-sm' onclick='showValue(this, " + JSON.stringify(row.name) + ")'>秀Value</button>";
                }
            }];
            var table = new XDataTables("shTab", basePath + "summerHot/jpaPage", paramsFun, columns, columnDefs);
            $("#name").bind("keypress", function (event) {
                if (event.keyCode == 13) {
                    table.ajax.reload();
                }
            });
            $("#search").bind("click", function () {
                table.ajax.reload();
            });
            $("#valueBtn").bind("click", function () {
                var datas = table.rows('.selected').data();
                if (datas.length == 0) {
                    $.notify("请先选择数据");
                    return false;
                }
                var datasDefs = [{
                    key: "id",
                    width: 50
                }, {
                    key: "name"
                }];
                putDatasIntoTabBody(datas, datasDefs, "#valueBody");
                $("#valuesDialog").dialog("open");
            });
            $("#valuesDialog").dialog({
                autoOpen: false,
                modal: true,
                width: 600,
                height: 400,
                buttons: [{
                    text: "好的",
                    click: function () {
                        $(this).dialog("close");
                    }
                }, {
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div style="margin: 5px;">

    <div id="toolBar" style="margin-bottom: 5px;">
        <input id="valueBtn" class="btn btn-success btn-xs" type="button" value="获取选中值" />
        姓名：<input title="姓名" id="name" type="text" />
        <input id="search" class="btn btn-info btn-xs" type="button" value="查询" />
    </div>
    <table id="shTab" class="dataTable compact display cell-border hover order-column row-border stripe" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>姓名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="valuesDialog" title="选中行的值" style="display: none">
        <table class="normalTable" width="200px">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>姓名</td>
                </tr>
            </thead>
            <tbody id="valueBody">
            </tbody>
        </table>
    </div>

</div>
</body>
</html>