<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summer Hot</title>
    <headerTemplate th:include="/utils/common::headerTemplate"></headerTemplate>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(function () {
            var paramsFun = function(){
                var params = {};
                params.name = $("#name").val();
                return params;
            };
            var columns = [{
                data: "id"
            }, {
                data: "name",
                className: "dtLeft"
            }];
            var columnDefs = [{
                "visible": false,
                "targets": [1]
            }];
            var table = new xDataTables("shTab", basePath + "summerHot/jpaPage", paramsFun, columns, columnDefs);
            $("#name").bind("keypress", function (event) {
                if (event.keyCode == 13) {
                    table.ajax.reload();
                }
            });
            $("#search").bind("click", function () {
                table.ajax.reload();
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div style="margin: 5px;">

    <div id="toolBar" style="margin-bottom: 5px;">
        姓名：<input id="name" type="text" />
        <input id="search" class="btn btn-info btn-xs" type="button" value="查询" />
    </div>
    <table id="shTab" class="dataTable compact display cell-border hover order-column row-border stripe" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>姓名</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
</body>
</html>