<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
    <headerTemplate th:include="utils/common::headerTemplate"></headerTemplate>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        function resetPassWord(me, id) {
            $(me).closest("tr").click();
            if (!confirm("确定重置密码？")) {
                return false;
            }
            cleanMask.open();
            $.post(basePath + "user/resetPassWord", {
                id: id
            }, function (json) {
                cleanMask.close();
                if (json.success) {
                    $(me).notify("密码成功重置为8个8", {className: "success", position: "right"});
                } else {
                    $(me).notify("重置失败[" + json.message + "]", {className: "error", position: "right"});
                }
            }, 'json');
        }

        function start(me, id) {
            $(me).closest("tr").click();
            cleanMask.open();
            $.post(basePath + "user/start", {
                id: id
            }, function (json) {
                cleanMask.close();
                if (json.success) {
                    $.notify("开启成功", {className: "success"});
                    search();
                } else {
                    $(me).notify("开启失败[" + json.message + "]", {className: "error", position: "right"});
                }
            }, 'json');
        }

        function stop(me, id) {
            $(me).closest("tr").click();
            cleanMask.open();
            $.post(basePath + "user/stop", {
                id: id
            }, function (json) {
                cleanMask.close();
                if (json.success) {
                    $.notify("禁用成功", {className: "success"});
                    search();
                } else {
                    $(me).notify("禁用失败[" + json.message + "]", {className: "error", position: "right"});
                }
            }, 'json');
        }

        function del(me, id) {
            $(me).closest("tr").click();
            if (confirm("确定删除吗？")) {
                cleanMask.open();
                $.post(basePath + "user/del", {
                    id: id
                }, function (json) {
                    cleanMask.close();
                    if (json.success) {
                        $.notify("删除成功", {className: "success"});
                        search();
                    } else {
                        $(me).notify("删除失败[" + json.message + "]", {className: "error", position: "right"});
                    }
                }, 'json');
            }
        }

        function roleSet(me, id) {
            $(me).closest("tr").click();
            $("#userId").val(id);
            if (id > 0) {
                cleanMask.open();
                $("#roleDialog").dialog("open");
                search2(function () {
                    cleanMask.close();
                });
            }
        }

        function roleChange(me, roleId, userId) {
            if (roleId > 0 && userId > 0) {
                cleanMask.open();
                $.post(basePath + "user/roleChange", {
                    roleId: roleId,
                    userId: userId
                }, function (json) {
                    cleanMask.close();
                    if (json.success) {
                        search2();
                        search();
                    } else {
                        $.notify(json.message);
                    }
                }, 'json');
            }
        }

        // 用户表格
        var table;

        // 角色表格
        var table2;

        function search() {
            table.ajax.reload();
        }

        function search2(fn) {
            table2.ajax.reload(function () {
                if (fn) {
                    fn();
                }
            });
        }

        $(function () {

            // 用户列表
            var paramsFun = function () {
                var params = {};
                params.name = $("#sName").val();
                return params;
            };
            var columns = [{
                data: "id"
            }, {
                data: "userName",
                width: 80
            }, {
                data: "realName",
                width: 80
            }, {
                data: "createTime",
                width: 150
            }, {
                data: "roleName",
                width: 120
            }, {
                data: "isActivity",
                width: 60
            }, {
                data: null,
                defaultContent: ''
            }];
            var columnDefs = [{
                "visible": false,
                "targets": [1]
            }, {
                "targets": -1,
                render: function (data, type, row) {
                    var options = "";
                    if (row.roleName !== "超级管理员") {
                        if (row.isActivity) {
                            options += "<button class='btn btn-default btn-xs' onclick='stop(this, " + row.id + ")'>禁用</button>";
                        } else {
                            options += "<button class='btn btn-default btn-xs' onclick='start(this, " + row.id + ")'>启用</button>";
                        }
                        options += " <button class='btn btn-success btn-xs' onclick='roleSet(this, " + row.id + ")'>角色授权</button>";
                        options += " <button class='btn btn-warning btn-xs' onclick='resetPassWord(this, " + row.id + ")'>重置</button>";
                        options += " <button class='btn btn-danger btn-xs' onclick='del(this, " + row.id + ")'>删除</button>";
                    } else {
                        options += "<span style='color: red;'>suuuuuuuuuuper admin</span>";
                    }
                    return options;
                }
            }, {
                "targets": -2,
                render: function (data, type, row) {
                    if (row.isActivity) {
                        return "<span style='color: green;'>有效</span>";
                    } else {
                        return "<span style='color: red;'>无效</span>";
                    }
                }
            }];
            table = new XDataTables("userTab", basePath + "user/userPageList", paramsFun, columns, columnDefs);
            $("#sName").bind("keypress", function (event) {
                if (event.keyCode === 13) {
                    search();
                }
            });
            $("#search").bind("click", function () {
                search();
            });
            $("#addBtn").bind("click", function () {
                $("#userName").val("");
                $("#realName").val("");
                $("#passWord").val("");
                $("#userDialog").dialog("open");
            });
            $("#userDialog").dialog({
                autoOpen: false,
                modal: true,
                width: 360,
                height: 260,
                resizable: false,
                draggable: false,
                buttons: [{
                    text: "保存",
                    click: function () {
                        var userName = $("#userName").val();
                        var realName = $("#realName").val();
                        var passWord = $("#passWord").val();
                        if (!(userName && realName && passWord)) {
                            $.notify("请完善数据后保存");
                            return false;
                        }
                        cleanMask.open();
                        $.post(basePath + "user/saveUser", {
                            userName: userName,
                            realName: realName,
                            passWord: passWord
                        }, function (json) {
                            cleanMask.close();
                            if (json.success) {
                                $.notify("保存成功", {className: "success"});
                                search();
                            } else {
                                $.notify("保存失败", {className: "error"});
                            }
                        }, 'json');
                        $(this).dialog("close");
                    }
                }, {
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });

            // 角色授权
            var paramsFun2 = function () {
                var params = {};
                params.userId = $("#userId").val();
                return params;
            };
            var columns2 = [{
                data: "id"
            }, {
                data: "userId"
            }, {
                data: "roleName",
                width: 80
            }, {
                data: "isActivity",
                width: 60
            }, {
                data: null,
                defaultContent: ''
            }];
            var columnDefs2 = [{
                "visible": false,
                "targets": [1, 2]
            }, {
                "targets": -1,
                render: function (data, type, row) {
                    var options = "";
                    var roleId = row.id;
                    var userId = row.userId;
                    var curUserId = $("#userId").val();
                    if (userId) {
                        options += "当前角色";
                    } else {
                        options += " <button class='btn btn-success btn-xs' onclick='roleChange(this, " + roleId + ", " + curUserId + ")'>授权</button>";
                    }
                    return options;
                }
            }, {
                "targets": -2,
                render: function (data, type, row) {
                    if (row.isActivity) {
                        return "<span style='color: green;'>有效</span>";
                    } else {
                        return "<span style='color: red;'>无效</span>";
                    }
                }
            }];
            table2 = new XDataTables("roleTab", basePath + "user/userRolePageList", paramsFun2, columns2, columnDefs2, true, {
                scrollY: 300,
                autoLoad: false
            });
            $("#roleDialog").dialog({
                autoOpen: false,
                modal: true,
                width: 850,
                height: 520,
                resizable: false,
                draggable: false,
                buttons: [{
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }],
                open: function () {
                    $(window).resize();
                }
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div style="margin: 5px;">
    <div id="toolBar" style="margin-bottom: 5px;">
        <div>
            <label for="sName">账户名称/真实姓名：</label><input id="sName" type="text"/>
            <input id="search" class="btn btn-success btn-xs" type="button" value="查询"/>
        </div>
        <div>
            <input id="addBtn" type="button" class="btn btn-info btn-xs" value="新增"/>
        </div>
    </div>
    <table id="userTab" class="dataTable compact display cell-border hover order-column row-border stripe"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>账户名称</th>
            <th>真实姓名</th>
            <th>创建时间</th>
            <th>角色名称</th>
            <th>是否有效</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="userDialog" title="新增用户" style="display: none">
    <table width="300px;" style="border-collapse: separate; border-spacing: 5px;">
        <tr>
            <td style="text-align: right">真实姓名：</td>
            <td><input title="真实姓名" id="realName"/></td>
        </tr>
        <tr>
            <td style="text-align: right">账户名称：</td>
            <td><input title="账户名称" id="userName"/></td>
        </tr>
        <tr>
            <td style="text-align: right">密码：</td>
            <td><input title="密码" type="password" id="passWord"/></td>
        </tr>
    </table>
</div>
<div id="roleDialog" title="角色授权" style="display: none;">
    <input type="hidden" id="userId"/>
    <div style="font-size: 14px; width: 800px;">
        <table id="roleTab" class="dataTable compact display cell-border hover order-column row-border stripe"
               cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>userID</th>
                <th>角色名称</th>
                <th>有效</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>