<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <headerTemplate th:fragment="headerTemplate">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var basePath = [[${#httpServletRequest.getAttribute("basePath")}]];
            /*]]>*/
        </script>
    </headerTemplate>
</head>
<body>
</body>
</html>