<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登陆</title>
    <baseTemplate th:include="utils/common::baseTemplate"></baseTemplate>
    <link th:href="@{/pubs/jqueryUI/jquery-ui.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/pubs/js/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/pubs/jqueryUI/jquery-ui.min.js}"></script>
    <script th:src="@{/pubs/js/notify.min.js}"></script>
    <link th:href="@{/pubs/css/login.css}" rel="stylesheet"/>
    <style type="text/css">
        body {
            background-image: url("/pubs/images/index-bg2.jpg");
        }

        .cleanMasking {
            text-align: center;
            padding-top: 200px;
            display: none;
            position: fixed;
            z-index: 9000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0);
        }
    </style>
    <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    $(function () {
        var successLock = false;
        function sub() {

            if (successLock) {
                return false;
            }

            var $userName = $("#userName");
            var userName = $userName.val();
            var passWord = $("#passWord").val();
            var $valCode = $("#valCode");
            var valCode = $valCode.val();

            if (valCode.length != 4) {
                $valCode.val("");
                return false;
            }

            if (!(userName && passWord && valCode)) {
                $.notify("用户名和密码还有验证码都不能为空");
                return false;
            }
            cleanMask.open();
            $userName.focus();
            $.post(basePath + "login", {
                userName: userName,
                passWord: passWord,
                valCode: valCode
            }, function (json) {
                cleanMask.close();
                if (json.success) {
                    successLock = true;
                    $.notify("登陆成功", {className: "success"});
                    setTimeout(function () {
                        window.location = basePath + "home";
                    }, 1000);
                } else {
                    $valCode.val("");
                    $valCode.focus();
                    $.notify(json.message, {className: "error"});
                    changeValCode();
                }
            }, 'json');
        }

        $("#sub").bind("click", function () {
            sub();
        });

        $("#userName").val("").focus();
        $("#passWord").val("");
        $("#valCode").val("").keypress(function (event) {
            if (event.keyCode == 13) {
                sub();
            }
        });
    });

    function changeValCode() {
        $("#valCodeImg").attr("src", basePath + "index/valCode?" + Math.random());
    }

    var cleanMask = {
        open: function () {
            $("#cleanMasking").show();
        },
        close: function () {
            $("#cleanMasking").hide();
        }
    };

    $.notify.defaults({
        className: "info",
        position: "top center"
    });
    /*]]>*/
    </script>
</head>
<body>
<section class="container">
    <div class="login">
        <h1>夏天的风</h1>
        <form>
            <p><input type="text" id="userName" value="" placeholder="用户名"/></p>
            <p><input type="password" id="passWord" value="" placeholder="密码"/></p>
            <p style="margin-top: 15px;">
                <input type="text" id="valCode" placeholder="验证码" style="width: 188px !important;"/>
                <span style="text-align: center; margin: 0 auto;">
                    <img src="" id="valCodeImg" alt="code" th:src="@{index/valCode}" onclick="changeValCode();" width="80" height="35" style="position: relative; top: 12px;"/>
                </span>
            </p>
            <p class="submit"><img src="" th:src="@{/favicon.ico}"/><input type="button" id="sub" value="登陆"/></p>
        </form>
    </div>
</section>
</body>
</html>