<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summer Hot</title>
    <headerTemplate th:include="common::headerTemplate"></headerTemplate>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(function () {
            $.post(basePath + "summerHot/jdbcTemplate", {}, function (json) {
                console.log(json);
            }, 'json');
        });
        /*]]>*/
    </script>
</head>
<body>
    <p th:text="'Hello, ' + ${templateName} + '!'">templateName</p>
</body>
</html>