<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单管理</title>
    <headerTemplate th:include="utils/common::headerTemplate"></headerTemplate>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var table;

        var table2;

        function search() {
            table.ajax.reload();
        }

        function search2() {
            table2.ajax.reload();
        }

        function menuToggle(me, id, flag) {
            var isActivity;
            if (flag) {
                isActivity = 1;
            } else {
                isActivity = 0;
            }
            $(me).closest("tr").click();
            cleanMask.open();
            $.post(basePath + "role/menu/toggle", {
                id: id,
                isActivity: isActivity
            }, function (json) {
                cleanMask.close();
                if (json.success) {
                    $.notify("操作成功", {className: "success"});
                    search();
                } else {
                    $(me).notify("操作失败[" + json.message + "]", {className: "error", position: "right"});
                }
            }, 'json');
        }

        function menuDel(me, id) {
            $(me).closest("tr").click();
            if (confirm("确定删除吗？")) {
                cleanMask.open();
                $.post(basePath + "role/menu/del", {
                    id: id
                }, function (json) {
                    cleanMask.close();
                    if (json.success) {
                        $.notify("删除成功", {className: "success"});
                        search();
                    } else {
                        $.notify("删除失败[" + json.message + "]", {className: "error", position: "top"});
                    }
                }, 'json');
            }
        }

        function authToggle(me, id, flag) {
            var isActivity;
            if (flag) {
                isActivity = 1;
            } else {
                isActivity = 0;
            }
            $(me).closest("tr").click();
            cleanMask.open();
            $.post(basePath + "role/auth/toggle", {
                id: id,
                isActivity: isActivity
            }, function (json) {
                cleanMask.close();
                if (json.success) {
                    $.notify("操作成功", {className: "success"});
                    search2();
                } else {
                    $(me).notify("操作失败[" + json.message + "]", {className: "error", position: "right"});
                }
            }, 'json');
        }

        function authDel(me, id) {
            $(me).closest("tr").click();
            if (confirm("确定删除吗？")) {
                cleanMask.open();
                $.post(basePath + "role/auth/del", {
                    id: id
                }, function (json) {
                    cleanMask.close();
                    if (json.success) {
                        $.notify("删除成功", {className: "success"});
                        search2();
                    } else {
                        $.notify("删除失败[" + json.message + "]", {className: "error", position: "top"});
                    }
                }, 'json');
            }
        }

        function getOneMenu() {
            var rows = table.rows('.selected').data();
            if (table.rows('.selected').data().length == 0) {
                return false;
            } else {
                return rows[0];
            }
        }

        function getOneMenuId() {
            if (table.rows('.selected').data().length == 0) {
                return -1;
            } else {
                return table.rows('.selected').data()[0].id;
            }
        }

        $(function () {
            // 菜单表格
            var paramsFun = function () {
                var params = {};
                params.name = $("#sName").val();
                return params;
            };
            var columns = [{
                data: "id"
            }, {
                data: "menuName",
                width: 80
            }, {
                data: "menuPath",
                width: 80
            }, {
                data: "sort",
                width: 50
            }, {
                data: "isActivity",
                width: 60
            }, {
                data: null,
                defaultContent: ''
            }];
            var columnDefs = [{
                "visible": false,
                "targets": [1]
            }, {
                "targets": 3,
                render: function (data, type, row) {
                    return "<span style='color: blue; font-weight: bold'>" + data + "</span>"
                }
            }, {
                "targets": -1,
                render: function (data, type, row) {
                    var options = "";
                    if (row.isActivity) {
                        options += "<button class='btn btn-default btn-xs' onclick='menuToggle(this, " + row.id + ", false)'>禁用</button>";
                    } else {
                        options += "<button class='btn btn-default btn-xs' onclick='menuToggle(this, " + row.id + ", true)'>启用</button>";
                    }
                    options += " <button class='btn btn-danger btn-xs' onclick='menuDel(this, " + row.id + ")'>删除</button>";
                    return options;
                }
            }, {
                "targets": -2,
                render: function (data, type, row) {
                    if (row.isActivity) {
                        return "<span style='color: green;'>有效</span>";
                    } else {
                        return "<span style='color: red;'>无效</span>";
                    }
                }
            }];
            table = new XDataTables("dtTab", basePath + "role/menu/menuPageList", paramsFun, columns, columnDefs, true, {scrollY: 350});
            // 添加重绘事件
            var $dtTab = $("#dtTab");
            $dtTab.on("draw.dt", function () {
                search2();
            });
            $("#sName").bind("keypress", function (event) {
                if (event.keyCode == 13) {
                    search();
                }
            });
            $("#search").bind("click", function () {
                search();
            });
            $("#menuDialog").dialog({
                autoOpen: false,
                modal: true,
                width: 360,
                height: 250,
                resizable: false,
                draggable: false,
                buttons: [{
                    text: "保存",
                    click: function () {
                        var menuName = $("#menuName").val();
                        var menuPath = $("#menuPath").val();
                        var sort = $("#sort").val();
                        if (!(menuName && menuPath && sort)) {
                            $.notify("请完善数据后保存");
                            return false;
                        }
                        cleanMask.open();
                        $.post(basePath + "role/menu/saveMenu", {
                            menuName: menuName,
                            menuPath: menuPath,
                            sort: sort
                        }, function (json) {
                            cleanMask.close();
                            if (json.success) {
                                $.notify("保存成功", {className: "success"});
                                search();
                            } else {
                                $.notify("保存失败", {className: "error"});
                            }
                        }, 'json');
                        $(this).dialog("close");
                    }
                }, {
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
            $("#addBtn").click(function () {
                $("#menuName").val("");
                $("#menuPath").val("");
                $("#sort").val("");
                $("#menuDialog").dialog("open");
            });
            $dtTab.find('tbody').on('click', 'tr', function () {
                search2();
            });
            // 权限表格
            var paramsFun2 = function () {
                var params = {};
                params.menuId = getOneMenuId();
                return params;
            };
            var columns2 = [{
                data: "id"
            }, {
                data: "text",
                width: 80
            }, {
                data: "url",
                width: 150
            }, {
                data: "sort",
                width: 30
            }, {
                data: "isActivity",
                width: 40
            }, {
                data: null,
                defaultContent: ''
            }];
            var columnDefs2 = [{
                "visible": false,
                "targets": [1]
            }, {
                "targets": 3,
                render: function (data, type, row) {
                    return "<span style='color: green; font-weight: bold'>" + data + "</span>"
                }
            }, {
                "targets": -1,
                render: function (data, type, row) {
                    var options2 = "";
                    if (row.isActivity) {
                        options2 += "<button class='btn btn-default btn-xs' onclick='authToggle(this, " + row.id + ", false)'>禁用</button>";
                    } else {
                        options2 += "<button class='btn btn-default btn-xs' onclick='authToggle(this, " + row.id + ", true)'>启用</button>";
                    }
                    options2 += " <button class='btn btn-danger btn-xs' onclick='authDel(this, " + row.id + ")'>删除</button>";
                    return options2;
                }
            }, {
                "targets": -2,
                render: function (data, type, row) {
                    if (row.isActivity) {
                        return "<span style='color: green;'>有效</span>";
                    } else {
                        return "<span style='color: red;'>无效</span>";
                    }
                }
            }];
            table2 = new XDataTables("dtTab2", basePath + "role/auth/authPageList", paramsFun2, columns2, columnDefs2, true, {
                scrollY: 350,
                autoLoad: false
            });
            $("#authDialog").dialog({
                autoOpen: false,
                modal: true,
                width: 360,
                height: 250,
                resizable: false,
                draggable: false,
                buttons: [{
                    text: "保存",
                    click: function () {
                        var text = $("#text").val();
                        var url = $("#preUrl").val() + $("#url").val();
                        var sort2 = $("#sort2").val();
                        if (!(text && url && sort2)) {
                            $.notify("请完善数据后保存");
                            return false;
                        }
                        cleanMask.open();
                        $.post(basePath + "role/auth/saveAuth", {
                            text: text,
                            url: url,
                            sort: sort2,
                            menuId: getOneMenuId()
                        }, function (json) {
                            cleanMask.close();
                            if (json.success) {
                                $.notify("保存成功", {className: "success"});
                                search2();
                            } else {
                                $.notify("保存失败", {className: "error"});
                            }
                        }, 'json');
                        $(this).dialog("close");
                    }
                }, {
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
            $("#addBtn2").click(function () {
                if (getOneMenuId() == -1) {
                    $.notify("请选择所属菜单");
                    return false;
                }
                $("#text").val("");
                var menu = getOneMenu();
                $("#preUrl").val(menu.menuPath + "/");
                $("#url").val("");
                $("#sort2").val("");
                $("#authDialog").dialog("open");
            });
        });

        /*]]>*/
    </script>
</head>
<body>
<div style="margin: 5px; display: inline-block; width: 550px;">
    <div id="toolBar" style="margin-bottom: 5px;">
        <div>
            <label for="sName">菜单名称：</label><input id="sName"/>
            <input id="search" class="btn btn-success btn-xs" type="button" value="查询"/>
        </div>
        <div><input id="addBtn" type="button" value="新增" class="btn btn-info btn-xs"/></div>
    </div>
    <table id="dtTab" class="dataTable compact display cell-border hover order-column row-border stripe" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>菜单名称</th>
            <th>菜单根路径</th>
            <th>排序</th>
            <th>有效</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div style="margin: 5px; display: inline-block; width: 550px;">
    <div id="toolBar2" style="margin-bottom: 5px;">
        <div><input id="addBtn2" type="button" value="新增" class="btn btn-info btn-xs"/></div>
    </div>
    <table id="dtTab2" class="dataTable compact display cell-border hover order-column row-border stripe"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>权限名称</th>
            <th>权限路径</th>
            <th>排序</th>
            <th>有效</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="menuDialog" title="新增菜单" style="display: none">
    <table style="border-collapse: separate; border-spacing: 5px;">
        <tr>
            <td style="text-align: right">菜单名称：</td>
            <td><input title="菜单名称" id="menuName"/></td>
        </tr>
        <tr>
            <td style="text-align: right">菜单根路径：</td>
            <td><input title="菜单根路径" id="menuPath"/></td>
        </tr>
        <tr>
            <td style="text-align: right">排序：</td>
            <td><input title="排序" id="sort"/></td>
        </tr>
    </table>
</div>
<div id="authDialog" title="新增权限" style="display: none">
    <table style="border-collapse: separate; border-spacing: 5px;">
        <tr>
            <td style="text-align: right">权限名称：</td>
            <td><input title="权限名称" id="text" style="width: 200px;"/></td>
        </tr>
        <tr>
            <td style="text-align: right">权限路径：</td>
            <td>
                <input title="权限前缀" id="preUrl" readonly="readonly"
                       style="width: 80px; border: none; color: blue; font-weight: bold;"/>
                <input title="权限路径" id="url"
                       style="width: 115px; color: green; font-weight: bold;"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">排序：</td>
            <td><input title="排序" id="sort2" style="width: 200px;"/></td>
        </tr>
    </table>
</div>
</body>
</html>